:root {
    --primary-color: #e269e3;
    --secondary-color: #6e0f6e;
    --terciary-color: #9f51a0;
    --fontColor: #f7e6f7;
    --fontColorInv: #350835;
    --bodySecondColor: #c975c9;
    
    
    /* --primary-color: #ffb94f;
    --secondary-color: #694e25;
    --terciary-color: #d18d26; */
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Anek Bangla', sans-serif;
}

a {
    text-decoration:none;
    color: black;
}
p {
    font-size: 18px;
}
body{
    background: linear-gradient(180deg, var(--fontColor) 0%,var(--bodySecondColor));
}
